html, body, #root {
  background: linear-gradient(to bottom, #1e3a8a, #000);
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Enable smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}


